@import "../general/variables";

.banner-cta__container{
    background-image: url('../../assets/img/bg.png');
    border-radius: 16px;
    height: 336px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.banner__cta-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    h2{
        font-weight: 500;
        font-size: 32px;
        line-height:44px;
    }
    p{
        font-size: 16px;
        line-height: 28px;
        margin-top: 17px;
        font-size: 14px;
        line-height: 28px;
    }
    a{
        background: $secondaryColor;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #fff;
        text-align: center;
        display: flex;
        width: 256px;
        height: 49.16px;
        justify-content: center;
        align-items: center;
        margin-top: 33px;
        &:hover{
            text-decoration: none;
        }
    }
}
@media(max-width:978px){
    .banner-cta__container{
        border-radius: 0;
        background-position: center;
        height: 60%;
        background-size: cover;
    }
    .banner__cta-text{
        padding-top: 44px;
        text-align: center;
    }
}